/* Tags */
html, body {
    font-family: sans-serif;
    background-color: #4fff8a;
    background: linear-gradient(90deg, #0a0, #d8d8d8 50%,#a00) no-repeat;
    color: black;
    height: 100vh;
    width: 100%;
    margin: auto;
    overflow-y: auto;
    font-size: 16px;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
}

header {
    margin-bottom: 40px;
}

main {
    display: -ms-grid;
    display: grid;
    grid-gap: .5em .5em;
    background-color: #cecece;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    border-radius: 4px;
    margin: 10px 5vw 10px 5vw;
    box-shadow: #111 5px 5px 15px;
}

section {
    padding: 8px 8px 8px 8px;
}

input[type=checkbox] {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

footer {
    margin: 1.5em 0 .5em 0;
    text-align: center;
}

/* Classes */
.texto-rodape {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.texto-rodape > a {
    text-decoration: none;
}

.botao {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 2em;
    font-size: 18px;
    color: #000;
    border: 2px solid gray;
}

.botao:hover {
    background-color: gray;
}

/* Ids */
#section-filtro {
    text-align: center;
}

#ingredientes-filtro {
    list-style: none;
    text-align: justify;
    column-count: 2;
    padding: 0;
}

#gerar {
    background-color: #00ff55;
    border-color: #00bb3e;
}

#gerar:hover {
    background-color: #00bb3e;
}

#limpar {
    background-color: #e20000;
    border-color: #a80000;
}

#limpar:hover {
    background-color: #970000;
}

#ingredientes {
    list-style: none;
}

#botao-instrucoes {
    padding: 3px;
    display: inline-block;
    height: 17px;
    width: 17px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    border: 0;
    background-color: #77ddff;
    margin-left: 5px;
    border-radius: 50%;
}

#botao-instrucoes:hover {
    background-color: #41d0ff;
}

#instrucoes-carregar {
    display: flex;
    font-size: 12px;
    background-color: #77ddff;
    width: 100%;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

#codigo-massa {
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    height: auto;
    vertical-align: middle;
    text-align: center;
}

#grupo-botao {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3px;
    width: 100%;
}

#grupo-codigo {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3px;
    width: 100%;
}

#botao-carregar {
    grid-column: 1 / 3;
    background-color: #77ddff;
    border-color: #41d0ff;
}

#botao-carregar:hover {
    background-color: #41d0ff;
}

/* Media Queries */
@media (min-width: 600px) {
    #ingredientes-filtro {
        column-count: 4;
    }

    #grupo-botao {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media (min-width: 1200px) {
    main {
        margin-left: 12vw;
        margin-right: 12vw;
    }
}

@media (min-width: 1800px) {
    main {
        margin-left: 20vw;
        margin-right: 20vw;
    }
}